*.pyc
/**/*.pyc
media/*
venv/**/*.*
catalogos/migrations/*
catalogos_detalle/migrations/*
empresas/migrations/*
personal/migrations/*
personal_sucursales/migrations/*
sucursales/migrations/*
incidencias/migrations/*
