Django==1.7.1
Pillow==8.2.0
oauthlib==0.6.1
psycopg2==2.5.4
pyOpenSSL==0.13
pycrypto==2.6.1
pycups==1.9.66
pyserial==2.6
pysmbc==1.0.14.1
pyxdg==0.25
reportlab==3.0
sorl-thumbnail==11.12.1b
urllib3==1.7.1
virtualenv==1.11.6
wsgiref==0.1.2
