body
	.catalogosDetalle 
		display table
		width  90%
		border-collapse collapse
		
		.cabecera
			font-weight bold
			display table-row
			background #EC7063
			text-align center
			line-height 25px
			font-size 14px
			font-family georgia
			color #fff
			.columna
				display table-cell
				border 1px solid #CCC
		.filas
			display table-row
			text-align left
			.columna
				display table-cell
				border 1px solid #CCC
				box-sizing: border-box;
				background white
				input
					width 98%
					margin-left 1px
					border-radius 5px
					box-shadow none
					font-family Lato,Helvetica,Arial,sans-serif
					font-size: 15px;
					line-height 1.467
				.noeditable
					border 2px solid #BDC3C7
					color #95a5a6
				.editable
					border 1px solid #7F8C8D
					color #34495e
				